dialog{
	 width: 500px;  
   background:#e8e8e8;
   border: 1px solid #dadada;
   font-family: 'Shadows Into Light', cursive;
   padding: 5px 10px 20px 20px;
}

body{
	background-image: url("waves.jpg");
	text-align: center;
/*	font-family: 'Amatic SC', cursive;*/
	font-family: 'Shadows Into Light', cursive;
  font-size: 30px;

}

.9_by_9_box{
	margin:auto;
	width: 630px;
	height:630px;
	display:inline-block;
}


.grid_hor{
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 5px;
}

.box {
	height:70px;
	width:70px;
	display: inline-block;
  border-top-color: black;
	border-top-style: solid;
	border-right-color:black;
	border-right-style: solid;
	border-left-color: black;
	border-left-style: solid;
	border-bottom-style: solid;
	border-bottom-color: black;
	text-align: center;
	font-size:35px;
	font-weight: bold;
	vertical-align: middle;
	line-height: 70px;
	border-width: 1px;
}

#row1 {
	display: inline-block;
	border-top-color: black;
	border-top-style: solid;

}

#row2 {
	display: inline-block;
	border-width: 1px;
}

#row3 {
	display: inline-block;
	border-bottom-color:black;
	border-bottom-style: solid;
	border-width: 5px;
}

#row4{
	display: inline-block;
	border-width: 1px;
}

#row5{

	display: inline-block;
	border-width: 1px;
}

#row6{
	display: inline-block;
	border-width: 5px;
}

#row7{
	display: inline-block;
	border-width: 1px;
}

#row8{
	display: inline-block;
	border-width: 1px;
}

#row9{
	display: inline-block;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-width: 1px;
}

.grid_vert{
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 5px;
}

#buttons{
	display:inline-block;
	position: relative;
	font-size: 15px;


}

#level{
	display: inline-block;
	position:relative;
	width: 100px;
	opacity: .8;
  padding: 10px;
  font-size: 15px;
  border: none;
}
