.9_by_9_box{
	margin:auto;
	width: 900px;
	height:900px;
	display:inline-block;
}


.box{
	height:100px;
	width:100px;
	display: inline-block;
}

.row1{
/*	border: black;
  border-style: solid;*/
  display: inline-block;
}
.row2{
/*	border: black;
  border-style: solid;*/
 display: inline-block;
}
.row3{
/*  border: black;
  border-style: solid;*/
 display: inline-block;
}
.row4{
 /* border: black;
  border-style: solid;*/
 display: inline-block;
}
.row5{
/*  border: black;
  border-style: solid;*/
 display: inline-block;
}
.row6{
/* 	border: black;
  border-style: solid;*/
 display: inline-block;
}
.row7{
/*	border: black;
  border-style: solid;
*/
 display: inline-block;
}
.row8{
/* 	border: black;
  border-style: solid;*/
 display: inline-block;
}
.row9{
/*  border: black;
  border-style: solid;*/
 display: inline-block;
}