
#col_1.col-md-1{
	border: black;
  border-style: solid;
  width: 30px;
  height: 30px;
}
#col_2.col-md-1{
	border: black;
  border-style: solid;
  width: 30px;
  height: 30px;
}
#col_3.col-md-1{
  border: black;
  border-style: solid;
  width: 30px;
  height: 30px;
}
#col_4.col-md-1{
  border: black;
  border-style: solid;
  width: 30px;
  height: 30px;
}
#col_5.col-md-1{
  border: black;
  border-style: solid;
  width: 30px;
  height: 30px;
}
#col_6.col-md-1{
 	border: black;
  border-style: solid;
  width: 30px;
  height: 30px;
}
#col_7.col-md-1{
	border: black;
  border-style: solid;
  width: 30px;
  height: 30px;
}
#col_8.col-md-1{
 	border: black;
  border-style: solid;
  width: 30px;
  height: 30px;
}
#col_9.col-md-1{
  border: black;
  border-style: solid;
  width: 30px;
  height: 30px;
}