body{
	background-image: url("paper_3.jpg");
	text-align: center;
}
.9_by_9_box{
	margin:auto;
	width: 630px;
	height:630px;
	display:inline-block;
}
/*
input[type=checkbox]:not(old),*/
/*input[type=radio   ]:not(old){
  width     : 2px;
  margin    : 0;
  padding   : 0;
  font-size : 1px;
  opacity   : 0;
}*/

.grid_hor{
	border-bottom-style: solid;
	border-bottom-color: blue;
	border-bottom-width: 5px;
}

.box {
	height:70px;
	width:70px;
	display: inline-block;
  border-top-color: black;
	border-top-style: solid;
	border-right-color:black;
	border-right-style: solid;
	border-left-color: black;
	border-left-style: solid;
	border-bottom-style: solid;
	border-bottom-color: black;
	text-align: center;
	font-size:15px;
	vertical-align: middle;
	line-height: 70px;
	border-width: 1px;
}

#row1 {
	display: inline-block;
	border-top-color: black;
	border-top-style: solid;

}

#row2 {
	display: inline-block;
	border-width: 1px;

}

#row3 {

	display: inline-block;
	border-bottom-style: solid;
	border-bottom-color:blue;
	border-bottom-style: solid;
	border-width: 5px;

}

#row4{
	display: inline-block;
	border-width: 1px;
}

#row5{

	display: inline-block;
	border-width: 1px;
}

#row6{
	display: inline-block;
	border-color:blue;
	border-width: 5px;

}

#row7{
	display: inline-block;
	border-width: 1px;
}

#row8{
	display: inline-block;
	border-width: 1px;
}

#row9{
	display: inline-block;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-width: 1px;
}

.grid_vert{
  border-right-color: blue;
  border-right-style: solid;
  border-right-width: 5px;
}

.buttons{
	display:inline-block;
	position: relative;
}

#submit{
	position:relative;
}
